<div class="container-fluid" class="pt-2">
  <div *ngIf="button">
    <p class="d-flex flex-row justify-content-end"><button type="button" class="btn btn-success" (click)="newPost()">
      Create Post
    </button></p>
  </div>
  <section *ngIf="newpost" class="pb-2">
    <div class="card">
      <div class="card-body">
          <p class="card-title "><i>Enter the following details*</i></p>
          <div >
              <form (ngSubmit)="add()" class="is-validated" ngNativeValidate>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="addon1">Title</span>
                        </div>
                        <input
                          type="text"
                          placeholder="Username"
                          class="form-control"
                          id="title"
                          name="title"
                          [(ngModel)]="post.title"
                          required
                        />
                    </div>
                </div>
          
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="addbody">Body</span>
                        </div>
                          <input
                            type="text"
                            class="form-control"
                            id="body"
                            name="body"
                            [(ngModel)]="post.body"
                            required
                          />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="adduserid">User-Id</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              name="userId"
                              id="userId"
                              [(ngModel)]="post.userId"
                              required="true"
                            />
                        </div>
                    </div>
                  
                </div>
                <button type="submit" class="btn btn-success">
                  Submit
                </button>
              </form>
            </div>
      </div>
    </div>
  </section>
  <section *ngIf="updatepost" class="pb-2">
      <div class="card">
        <div class="card-body">
            <p class="card-title "><i>Enter the following details*</i></p>
            <div >
                <form action="" method="post">
                  <div class="form-group">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="addon1">Title</span>
                          </div>
                          <input
                            type="text"
                            placeholder="Username"
                            class="form-control"
                            id="title"
                            name="title"
                            [(ngModel)]="update.title"
                          />
                      </div>
                  </div>
            
                  <div class="form-group">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="addbody">Body</span>
                          </div>
                            <input
                              type="text"
                              class="form-control"
                              id="body"
                              name="body"
                              [(ngModel)]="update.body"
                            />
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-group">
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="adduserid">User-Id</span>
                              </div>
                              <input
                                type="number"
                                class="form-control"
                                name="userId"
                                id="userId"
                                [(ngModel)]="update.userId"
                              />
                          </div>
                      </div>
                    
                  </div>
                  <button type="submit" class="btn btn-success" (click)="updatePost()">
                    Submit
                  </button>
                </form>
              </div>
        </div>
      </div>
    </section>
  
  <div class="row">
    <div class="card col-lg-4 col-md-6 col-sm-12" *ngFor="let post of posts">
      <div class="card-body d-flex flex-column ">
        <div class="row hght" >
          <div class="col-8">
            <h5 class="card-title">{{ post.title }}</h5>
          </div>
          <div class="col-4 d-flex flex-row justify-content-end px-0">
            <div class="ml">
                <a routerLink="/post/{{ post.id }}"
                ><button type="button" class="btn btn-primary view">
                <i class="fa fa-eye icon-eye"></i>View
                </button></a
              >
            </div>
            <div class="px-0">
                <button type="button" class="btn btn-danger" (click)="editPost(post.id)"><i class="fa fa-pencil"></i></button>
            </div>
          </div>
        </div>
        <div >
          <h5 class="card-text">{{ post.id }}</h5>
          <p class="card-text">{{ post.body }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
