.ml{
    margin-right: 5px;
}
.view{
    width: 70px;
    padding: 7px 8px 8px;
    font-size: 14px;
}
.icon-eye{
    margin: 0px 3px;
}
.hght{
    height : 100px;
}
@media screen and (min-width: 1024px) and (max-width: 1120px){
    .hght {
        height: 130px !important;
    }
}
/* @media screen and (max-width: 1024) and (min-width: 768px) {
    .hght {
        height: 140px !important;
    }
} */