<div class="container-fluid">
        <div class="row mb-3" *ngIf="data">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                                <div class="col-lg-6 col-sm-12 col-md-12">

                                    <p class="card-text ">Enjoy reading the post!!! by<span class="tagline"> Author {{data.userId}}</span></p>
                                    <h5 class="card-title">{{data.title}}</h5>
                                    <div>
                                        <p class="card-text">{{data.body}}</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-md-12 hide">
                                </div>
                        </div>
                </div>
            </div>
        </div>
    <section>
        <p class="pt-2 cmt">Comments on the following post by other users</p>
        <div class="row py-2">
            <div class="card col-lg-6 col-md-4 col-sm-12 " *ngFor="let comment of comments">
                <div class="card-body d-flex flex-column ">
                    <div class="cmtbody">
                        <p class="card-text">{{comment.body}}</p>
                    </div>
                    <div>
                        <p class="mb-0"><span class="name">Comment By:</span> {{comment.name}}</p>
                        <p class="mb-0"><span class="email">Follow on: </span>{{comment.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

