@media screen and (max-width: 992px){
    .hide{
        display:none;
    }
}
@media  screen and (max-width: 992px) and (min-width:768px){
    .cmtbody {
        height: 220px!important;
    }
}
@media screen and (min-width:992px){
    .cmtbody{
        height: 90px!important;
        margin-bottom: 3px!important;
    }
}
.cmt{
    font-weight: bold;
}
.email{
    font-style:italic;
    font-size: 14px;
    font-weight: 400;
}
.name{
    font-weight: bold;
    font-size:16px;
}
.tagline{
    font-weight: bold;
}
